<header class='header'>
    <div class='header__container'>
        <div class='header__logo'>

        </div>
        <div class='header__navigation'>
            <%= link_to 'Tours', tours_path %>
            <%= link_to 'Logout', destroy_user_session_path(user_session) %>
        </div>
    </div>
</header>