<header class='header'>
    <div class='header__container'>
        <div class='header__logo'>

        </div>
        <div class='header__navigation'>
            <%= link_to 'Login',    '/login',       class: 'has-text-primary'%>
            <%= link_to 'Register', '/register',    class: 'has-text-primary'%>
            <%# <%= link_to 'Logout', '/logout', method: :delete %>
        </div>
    </div>
</header>